@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    color: white;
}

.Logo {
    font-family: Roboto;
    font-size: 25px;
}

.nav-link {
    margin-right: 16px;
}

.nav-button {
    background-color: #FFA447;
    color: white;
    padding: 2px 13px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: white;
}

.Home {
    background-image: url('https://res.cloudinary.com/dxt8rpayc/image/upload/v1707614330/bg_ue0nrg.svg');
    background-size: cover;
    height: 100vh;
    padding-top: 45px;

}
.Homemd{
    background-image: url('https://res.cloudinary.com/dxt8rpayc/image/upload/v1707614330/bg_ue0nrg.svg');
    background-size: cover;
    height: 160vh;
    padding-top: 45px;
}

.ContentAlign {
    text-align: left;
}

.ContentAlignsm {
    text-align: center;
}

.HomeHeading {
    color: white;
    font-size: 75px;
    font-weight: bold;

}
.HomeHeadinglg{
    font-size: 65px;
    font-weight: bold;
}

.HomeHeadingmd{
    font-size: 60px;
}

.Highlight {
    color: #FFA447;
}

.HomeDescript {
    color: #EEEDED;
    font-weight: 100;

}

.Homebtn {
    font-size: 20px;
    background-color: #FFA447;
    color: white;
    font-weight: 600;
    padding: 7px 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: white;

}

.Homebtn2 {
    font-size: 20px;
    background-color: transparent;
    color: white;
    font-weight: 600;
    padding: 7px 37px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

.ValueContainer {
    padding: 20px 10px 20px 35px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    border-radius: 20px;
}
.ValueContainerlg{
    padding: 20px 10px 20px 30px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    border-radius: 20px;
}
.ValueContainermd{
    padding: 15px 4px 15px 30px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    border-radius: 20px;
}
.ValueContainerxsm{
    padding: 15px 4px 15px 28px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    border-radius: 20px;
}
.Value {
    font-size: 38px;
    margin-right: 80px;
}
.Valuemd {
    font-size: 24px;
    margin-right: 80px;
}
.Valuexsm {
    font-size: 22px;
    margin-right: 70px;
}
.Valuelg{
    font-size:30px;
    margin-right: 60px;
}
.Taglg{
    font-size: 25px;
    font-weight: 100;

}
.Tag {

    font-size: 30px;
    font-weight: 100;
}
.Tagmd {

    font-size: 20px;
    font-weight: 100;
}
.Tagxsm{

    font-size: 18px;
    font-weight: 100;
}

.TigerHero {
    width: 450px;
}
.TigerHeromd{
    width:340px;
    height: 340px;
}
.TigerHerolg{
    width:480px;
    height: 480px;
}

/*AboutUs Section styling*/
.AboutUs {
    background-image: url('https://res.cloudinary.com/dxt8rpayc/image/upload/v1707614330/bg_ue0nrg.svg');
    background-size: cover;
    height: 100vh;
    padding-top: 45px;

}
.AbtUsImg{
    width:250px;
    
}

.AbtUsImg3{
    width:260px;
    
}
.AbtUsImglg1{
    height:200px;
}
.AbtUsImglg2{
    height:200px;
}
.AbtUsImglg3{
    height:200px;
}
.AbtUsImglg4{
    height:200px;
}
.ImgContainer1{
    display: inline-flex;
    background-color:rgba(255, 255, 255, .2);
    height: 260px;
    width:250px;
    border-radius: 20px;
}
.ImgContainer2{
    display: inline-flex;
    background-color:rgba(255, 255, 255, .2);
    height: 260px;
    width:250px;
    border-radius: 20px;
}
.ImgContainer3{
    display: inline-flex;
    align-content: center;
    background-color:rgba(255, 255, 255, .2);
    height: 260px;
    width:250px;
    border-radius: 20px;
}

.ImgContainer4{
    display: inline-flex;
    background-color:rgba(255, 255, 255, .2);
    height: 260px;
    width:250px;
    border-radius: 20px;
}
.lgContainer{
    height: 220px;
    width:200px;
}
.AboutUsDescript{
    line-height: 30px;
}
.AboutUsDescriptlg{
    line-height: 25px;
}
.Walletbtn{
    font-size: 15px;
    background-color:rgba(255, 255, 255, .4);
    color: white;
    font-weight: 600;
    padding: 7px 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}