@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    color: white;
}

.Logo {
    font-family: Roboto;
    font-size: 25px;
}

.nav-link {
    margin-right: 16px;
}

.nav-button {
    background-color: #FFA447;
    color: white;
    padding: 2px 13px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: white;
}

.Home {
    background-image: url('https://res.cloudinary.com/dxt8rpayc/image/upload/v1707614330/bg_ue0nrg.svg');
    background-size: cover;
    height: 100vh;
    padding-top: 45px;

}
.Homemd{
    background-image: url('https://res.cloudinary.com/dxt8rpayc/image/upload/v1707614330/bg_ue0nrg.svg');
    background-size: cover;
    height: 160vh;
    padding-top: 45px;
}

.ContentAlign {
    text-align: left;
}

.ContentAlignsm {
    text-align: center;
}

.HomeHeading {
    color: white;
    font-size: 75px;
    font-weight: bold;

}
.HomeHeadinglg{
    font-size: 65px;
    font-weight: bold;
}

.HomeHeadingmd{
    font-size: 60px;
}

.Highlight {
    color: #FFA447;
}

.HomeDescript {
    color: #EEEDED;
    font-weight: 100;

}

.Homebtn {
    font-size: 20px;
    background-color: #FFA447;
    color: white;
    font-weight: 600;
    padding: 7px 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: white;

}

.Homebtn2 {
    font-size: 20px;
    background-color: transparent;
    color: white;
    font-weight: 600;
    padding: 7px 37px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

.ValueContainer {
    padding: 20px 10px 20px 35px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    border-radius: 20px;
}
.ValueContainerlg{
    padding: 20px 10px 20px 30px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    border-radius: 20px;
}
.ValueContainermd{
    padding: 15px 4px 15px 30px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    border-radius: 20px;
}
.ValueContainerxsm{
    padding: 15px 4px 15px 28px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    border-radius: 20px;
}
.Value {
    font-size: 38px;
    margin-right: 80px;
}
.Valuemd {
    font-size: 24px;
    margin-right: 80px;
}
.Valuexsm {
    font-size: 22px;
    margin-right: 70px;
}
.Valuelg{
    font-size:30px;
    margin-right: 60px;
}
.Taglg{
    font-size: 25px;
    font-weight: 100;

}
.Tag {

    font-size: 30px;
    font-weight: 100;
}
.Tagmd {

    font-size: 20px;
    font-weight: 100;
}
.Tagxsm{

    font-size: 18px;
    font-weight: 100;
}

.TigerHero {
    width: 450px;
}
.TigerHeromd{
    width:340px;
    height: 340px;
}
.TigerHerolg{
    width:480px;
    height: 480px;
}

/*AboutUs Section styling*/
.AboutUs {
    background-image: url('https://res.cloudinary.com/dxt8rpayc/image/upload/v1707614330/bg_ue0nrg.svg');
    background-size: cover;
    height: 105vh;
    padding-top: 45px;

}
.AboutUsHead{
    font-size: 38px;
}
.AbtUsImg{
    width:250px;
    
}

.AbtUsImg3{
    width:260px;
    
}
.AbtUsImglg1{
    height:200px;
}
.AbtUsImglg2{
    height:200px;
}
.AbtUsImglg3{
    height:200px;
}
.AbtUsImglg4{
    height:200px;
}
.ImgContainer1,
.ImgContainer2,
.ImgContainer4{
    display: inline-flex;
    background-color:rgba(255, 255, 255, .2);
    height: 260px;
    width:250px;
    border-radius: 20px;
}
.ImgContainer1lg,
.ImgContainer2lg,
.ImgContainer4lg{
    display: inline-flex;
    background-color:rgba(255, 255, 255, .2);
    height: 220px;
    width:200px;
    border-radius: 20px;
}
.ImgContainer3{
    display: inline-flex;
    align-content: center;
    background-color:rgba(255, 255, 255, .2);
    height: 260px;
    width:250px;
    border-radius: 20px;
}
.ImgContainer3lg{
    display: inline-flex;
    align-content: center;
    background-color:rgba(255, 255, 255, .2);
    height: 220px;
    width:200px;
    border-radius: 20px;
}


.AboutUsDescript{
    line-height: 30px;
}
.AboutUsDescriptlg{
    line-height: 25px;
}
.Walletbtn{
    font-size: 15px;
    background-color:rgba(255, 255, 255, .4);
    color: white;
    font-weight: 600;
    padding: 7px 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

/*Collector Section styling*/
.Collector {
    background-image: url('https://res.cloudinary.com/dxt8rpayc/image/upload/v1707614330/bg_ue0nrg.svg');
    background-size: cover;
    height: 145vh;
    padding-top: 45px;

}
.Collectormd {
    background-image: url('https://res.cloudinary.com/dxt8rpayc/image/upload/v1707614330/bg_ue0nrg.svg');
    background-size: cover;
    height: 100vh;
    padding-top: 45px;

}
.CollectorHead{
    font-size: 38px;
}
.CollectorSubHead{
    font-weight: lighter;
    font-size: 12px;
}
.CollectorContainer{

    
    margin-left: 10px;
    height: 335px;
    width: 290px;
    border-radius: 10px;
    background-color: rgba(255, 215, 0, .1);
}
.TopHead{
    display: inline-block;
    font-weight: lighter;
    color:#D3D3D3;
}
.dot {
        position: relative;
        top:2px;
        right:5px;
        height: 16px;
        width: 16px;
        background-color: #bbb;
        border-radius: 50%;
        display: block;
 }
.CreatorName{
    display: inline-flex;
    position: relative;
    top: 28px;
    right:72px;
    color:#FFA447;
    font-weight: 700;

}
.CollectionImage{
    position: relative;
    width: 200px;
    top: 35px;
    left:43px;
}
.BtmHead{
   
    font-weight: lighter;
    color:#D3D3D3;

}

.CreatorNameBtm{
    position: relative;
    top:62px;
    left:6px;
    color:#FFA447;
    font-weight: 700;
}

.card{
    padding:10px;
    
  }
  .card-wrapper{
    padding:0px;
  }
  .carouselBtn{
    background-color: white;
  }
  .Collectionbtn{
    font-size: 15px;
    background-color:rgba(255, 255, 255, .4);
    color: white;
    font-weight: 600;
    padding: 7px 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(218, 165, 32,.4);
  }
  .carousel-control-prev,
    .carousel-control-next {
        background-color: white; /* Change to your desired color */
        width: 50px; /* Adjust width as needed */
        height: 50px; /* Adjust height as needed */
        top: 50%; 
        transform: translateY(-50%); 
       
        
    }

 
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"); /* Change to your icon */
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M3 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"); /* Change to your icon */
    }

    /* Hide the "Previous" and "Next" text */
    .visually-hidden {
        display: none;
    }
